@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    30% {
        background-color: #66bf39
    }
    60% {
        background-color: #eb670f
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation: bgcolor 10s infinite;
    animation-direction: alternate;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px 5px 0px 5px;
    box-shadow: 0 -.1rem .8rem black;
    border-radius: 10px 10px 0px 0px;
}

#headerText {
    color: rgb(255, 255, 255);
    font-size: clamp(50px, 8vw, 100px);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 20px;
    margin: 0px 5px 0px 5px;
}

section {
    margin: 0px 5px 0px 5px;
    display: flex;
    height: 100vh;
    box-shadow: 0 .4rem .8rem black;
    border-radius: 0px 0px 10px 10px;
}

/* options panel ------------------------------------------------- */

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(6px, 1.5vw, 18px);
    width: 100%;
    text-align: left;
}

.buttons:hover {
    cursor: pointer;
}

#options {
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-radius: 0px 0px 0px 10px;
}

.searchContact {
    padding: 0;
    margin: 20px 20px 0px 20px;
}

#form1 {
    display: flex;
}

#form2 {
    display: flex;
    margin: 20px;
    max-width: 300px;
}

.searchBox {
    width: 100%;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1.3vw, 20px);
}

.searchContactButton {
    max-width: 25%;
    min-width: 45px;
    transition: 0.3s;
}

.searchContactButton:hover {
    color: white;
    cursor: pointer;
}

.icon {
    width: 30px;
}

#addContact {
    margin: 0px 20px 0px 20px;
}

#editContact {
    margin: 0px 20px 0px 20px;
    display: none;
}

#removeContact {
    display: none;
    margin: 0px 20px 0px 20px;
}

#logout {
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    #form1 {
        display: none;
    }

    #form2 {
        display: flex;
    }
}

@media (min-width: 801px) {
    #form1 {
        display: flex;
    }

    #form2 {
        display: none;
    }
}

/* contacts panel ------------------------------------------------- */

a {
    color: blue;
    text-decoration: underline;
    font-weight: 700;
    padding: 0px 15px 0px 0px;
}

a:hover {
    cursor: pointer;
}

#contacts {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 10px 0px;
    width: 100%;
}

#contactsList {
    width: 100%;
    background: rgb(255, 255, 255);
    border-collapse: collapse;
}

th, td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

th {
    font-size: clamp(12px, 2vw, 20px);
    top: 0px;
    position: sticky;
    text-align: left;
    background: rgb(158, 158, 158);
}

tr:nth-of-type(2n) {
    background: rgb(209, 209, 209);
}

tr:hover {
    background-color: rgb(170, 170, 170);
}

.tableWrap {
    margin: 20px;
    max-height: 96vh;
    overflow-y: auto;
}

@media (max-width: 900px) {

    .buttons {
        font-size: 0;
    }

    table {
        width: 100%;
    }

    header {
        width: 90%;
    }

    section {
        width: 90%;
    }

    #contactsList {
        width: 100%;
    }

    th {
        display: none;
    }

    .tableWrap {
        margin: 20px;
        max-height: 90vh;
        overflow-y: auto;
    }
     
    td {
        display: block;
        padding: 8px;
    }

    td::before {
        font-weight: 700;
    }

    td:nth-child(1)::before {
        content: "First Name: ";
        padding-top: 20px;
    }

    td:nth-child(2)::before {
        content: "Last Name: ";
    }

    td:nth-child(3)::before {
        content: "Phone: ";
    }

    td:nth-child(4)::before {
        content: "Email: ";
    }

    td:nth-child(5)::before {
        content: "Date Created: ";
    }

    td:nth-child(6)::before {
        padding-top: 20px;
    }
}

/* Button functionality css -------------------------------------------------- */

.addContactForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px;
    background: rgb(224, 224, 224);
    box-shadow: 0 -.1rem .8rem black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#addContactCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15x;
    height: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
}

#addContactFormTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.formElement {
    margin: 10px;
    width: 100%;
}

input[id="firstName"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="lastName"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="phone"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="email"] {
    padding: 15px;
    display: block;
    width: 80%;
}

#addContactFormButton {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    width: 80%;
}

#addContactFormButton:hover {
    background-color: #54fd00;
    transition: 0.20s;
}

.editContactForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px;
    background: rgb(224, 224, 224);
    box-shadow: 0 -.1rem .8rem black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#editContactCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15x;
    height: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
}

#editContactFormTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.formElement {
    margin: 10px;
    width: 100%;
}

input[id="firstName2"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="lastName2"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="phone2"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="email2"] {
    padding: 15px;
    display: block;
    width: 80%;
}

#editContactFormButton {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    width: 80%;
}

#editContactFormButton:hover {
    background-color: #54fd00;
    transition: 0.20s;
}

.editContactForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px;
    background: rgb(224, 224, 224);
    box-shadow: 0 -.1rem .8rem black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#editContactCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15x;
    height: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
}

#editContactFormTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.formElement {
    margin: 10px;
    width: 100%;
}

input[id="firstName"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="lastName"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="phone"] {
    padding: 15px;
    display: block;
    width: 80%;
}

input[id="email"] {
    padding: 15px;
    display: block;
    width: 80%;
}

#editContactFormButton {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    width: 80%;
}

#editContactFormButton:hover {
    background-color: #54fd00;
    transition: 0.20s;
}

.removeContactPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px;
    background: rgb(224, 224, 224);
    box-shadow: 0 -.1rem .8rem black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#removeContactFormTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

#removeMessage {
    text-align: center;
}

#removeOptions {
    display: flex;
}

#cancelButton {
    cursor: pointer;
    border: none;
    padding: 15px;
    margin: 15px;
    width: 40%;
    font-size: 16px;
    background: rgb(224, 224, 224);
}

#removeContactFormButton {
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 32, 32);
    width: 40%;
}

label.validationError{
    color:   red;
    margin-left: 5px;
}

label.invalidPhoneNumber{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
